# C L A S S E S

In [2]:
import pandas as pd
import numpy as np

In [6]:
df_1 = pd.read_csv('Dhaka Rent.csv')
df_1.head()

    area;rent
0  2000;31500
1  2100;35000
2  2500;41050
3  2250;36100
4  3000;52100

In [ ]:
df_2 = pd.read_csv('Student_performance.csv')
df_2.drop('Extracurricular Activities', axis=1, inplace=True)
df_2.head()

,Hours Studied,Previous Scores,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,9,1,91.0
1,4,82,4,2,65.0
2,8,51,7,2,45.0
3,5,52,5,2,36.0
4,7,75,8,5,66.0