In [37]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

# C L A S S E S

In [ ]:
class Batch_GD:
    def __init__(self):
        self.intercept = 1
        self.coef = None
        self.bita = None

    
    def fit(self, X, y, epochs, lr):
        X_dev = X.copy()
        X_dev.insert(0, 'intercept', 1)
        X_np = X_dev.values.astype(float)
        y_np = y.values.reshape(-1).astype(float)
        m = len(y_np)

        theta = np.zeros(X_np.shape[1])

        for _ in range(epochs):
            preds = X_np @ theta
            gradient = (2.0 / m) * (X_np.T @ (preds - y_np))
            theta = theta - lr * gradient

        self.bita = theta
        self.intercept = float(theta[0])
        self.coef = theta[1:]



    def predict(self, x):
        x_dev = x.copy()
        x_dev.insert(0,1,1)
        x_dev = np.array(x_dev)

        y = x_dev @ self.bita

        return y

In [39]:
df_1 = pd.read_csv('Dhaka Rent.csv')
df_1.head()

    area;rent
0  2000;31500
1  2100;35000
2  2500;41050
3  2250;36100
4  3000;52100

In [40]:
df_2 = pd.read_csv('Student_performance.csv')
df_2.drop('Extracurricular Activities', axis=1, inplace=True)
df_2.drop(df_2.index[:9000], inplace=True)
df_2

,Hours Studied,Previous Scores,Sleep Hours,Sample Question Papers Practiced,Performance Index
9000,1,57,8,0,27.0
9001,8,71,9,5,69.0
9002,9,97,9,1,98.0
9003,7,88,8,2,80.0
9004,8,71,9,4,68.0
...,...,...,...,...,...
9995,1,49,4,2,23.0
9996,7,64,8,5,58.0
9997,6,83,8,5,74.0
9998,9,97,7,0,95.0
9999,7,74,8,1,64.0

In [41]:
x = df_2.iloc[:,:-1]
y = df_2.iloc[:,-1]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1)

In [63]:
test = Batch_GD()
test.fit(x_train, y_train, epochs=40, lr=0.01)

In [64]:
test_pred = test.predict(x_test)
r2_score(y_test, test_pred)

-4.49807554628691e+162

In [44]:
test_pred

array([-9.39325576e+152, -7.62068575e+152, -1.28076602e+153,
       -1.42966576e+153, -1.06665041e+153, -7.66218920e+152,
       -1.23072893e+153, -1.40815440e+153, -1.45524261e+153,
       -1.31085146e+153, -1.00062569e+153, -1.38390134e+153,
       -8.36071374e+152, -1.37681607e+153, -8.43443554e+152,
       -1.03642302e+153, -6.59222277e+152, -9.49532098e+152,
       -7.35375117e+152, -1.06758025e+153, -1.46370700e+153,
       -1.12999264e+153, -1.06026685e+153, -6.36784085e+152,
       -1.34894423e+153, -1.15951566e+153, -1.46193393e+153,
       -8.56339460e+152, -1.04169475e+153, -7.11078571e+152,
       -1.22612454e+153, -9.75725359e+152, -7.94376786e+152,
       -8.43301603e+152, -1.38794810e+153, -8.41418845e+152,
       -9.75027099e+152, -1.23653523e+153, -9.28416017e+152,
       -1.10710173e+153, -8.24148796e+152, -1.32716992e+153,
       -1.39811458e+153, -6.91658481e+152, -1.25117945e+153,
       -1.11257719e+153, -1.20750763e+153, -1.07433946e+153,
       -1.07458367e+153, -8.41106747e+152, -8.57179671e+152,
       -7.80432160e+152, -1.38935507e+153, -1.38303161e+153,
       -8.23614230e+152, -8.98233442e+152, -1.38757723e+153,
       -1.23227996e+153, -6.28193037e+152, -1.33206468e+153,
       -9.91575816e+152, -1.26649401e+153, -9.57570283e+152,
       -6.64452200e+152, -1.24198895e+153, -7.70162087e+152,
       -1.30473173e+153, -7.15147070e+152, -8.11609804e+152,
       -1.43057253e+153, -8.19232301e+152, -1.35871977e+153,
       -8.11089196e+152, -9.58850586e+152, -1.14734453e+153,
       -1.22131163e+153, -6.23026226e+152, -8.06566648e+152,
       -1.08594861e+153, -6.54798540e+152, -1.02977350e+153,
       -9.48288826e+152, -6.23420171e+152, -8.67494559e+152,
       -8.68252923e+152, -7.60307703e+152, -6.11021800e+152,
       -7.58738374e+152, -7.54564955e+152, -1.23509256e+153,
       -8.82080002e+152, -9.03478655e+152, -6.49845015e+152,
       -1.01938455e+153, -8.58381573e+152, -1.38637877e+153,
       -1.37166800e+153, -1.04663432e+153, -1.25234087e+153,
       -9.55293580e+152])